{% extends 'management_system/admin-base.html' %}
{% load staticfiles %}
{% block title %}Welcome, {{ employee.first_name }}{% endblock %}
{% block home_active %}active{% endblock %}
{% block body %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="card card-user">
        <div class="image">
          <img src="{% static 'management_system/images/profile.jpg' %}" alt="..."/>
            <h4 class="title">Welcome {{ employee.first_name }}</h4>
        </div>
        <div class="content">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="{{ employee.profile_pic.url }}" alt="..."/>
              <h4 class="title">Employee Details: </h4>
            </a>
          </div>
          <p class="description text-center"><br>Name: {{ employee.first_name }} {{ employee.last_name }} </p>
          <p class="description text-center">Mobile Number: {{ employee.phone }} </p>
          <p class="description text-center">Employee ID: {{ employee.emp_id }} </p>
          <p class="description text-center">Email: {{ employee.email }} </p>
          <p class="description text-center">Address: {{ employee.address }} </p>
          <p class="description text-center">City: {{ employee.city }} </p>
          <p class="description text-center">Country: {{ employee.country }} </p>
          <p class="description text-center">Pincode: {{ employee.zip_code }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
