{% extends 'management_system/admin-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Add Employee {% endblock %}
{% block add_active %}active{% endblock %}
{% block body %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Add Employee</h4>
            <h4><span class="text-danger small" text-align="center">{{ error_message }}</span></h4>
          </div>
          <div class="content">
            <form action="" method='post' enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
              {% for field in form1 %}
              {% if field.label_tag == form1.phone.label_tag %}
              <div class="col-md-6">
              {% endif %}
              {% if field.label_tag == form1.email.label_tag %}
              <div class="col-md-6">
              {% endif %}
              {% if field.label_tag == form1.first_name.label_tag %}
              </div>
              <div class="row">
              <div class="col-md-6">
              {% endif %}
              {% if field.label_tag == form1.last_name.label_tag %}
              <div class="col-md-6">
              {% endif %}
              {% if field.label_tag == form1.address.label_tag %}
              </div>
              <div class="row">
              <div class="col-md-12">
              {% endif %}
              {% if field.label_tag == form1.city.label_tag %}
              </div>
              <div class="row">
              <div class="col-md-4">
              {% endif %}
              {% if field.label_tag == form1.zip_code.label_tag %}
              <div class="col-md-4">
              {% endif %}
              {% if field.label_tag == form1.country.label_tag %}
              <div class="col-md-4">
              {% endif %}
              {% if field.label_tag == form1.profile_pic.label_tag %}
              </div>
              <div class="row">
              <div class="col-md-4">
              {% endif %}
                  <div class="form-group">
                    <label>{{ field.label_tag }}</label>
                  {{ field|add_class:"form-control" }}
                </div>
              </div>
              {% endfor %}
              </div>
              <div class="row">
                <label>&nbsp; Please upload 5 single photos of the employee, showing his/her complete face. Max size: 6MB</label>
              </div>
              <div class="row">
              {% for field in form2 %}
              {% if field.label_tag == form2.pic0.label_tag %}
              <div class="col-md-2">
              {% endif %}
              {% if field.label_tag == form2.pic1.label_tag %}
              <div class="col-md-2">
              {% endif %}
              {% if field.label_tag == form2.pic2.label_tag %}
              <div class="col-md-2">
              {% endif %}
              {% if field.label_tag == form2.pic3.label_tag %}
              <div class="col-md-2">
              {% endif %}
              {% if field.label_tag == form2.pic4.label_tag %}
              <div class="col-md-2">
              {% endif %}
                  <div class="form-group">
                    <label>Picture {{forloop.counter}}</label>
                  {{ field|add_class:"form-control" }}
                </div>
              </div>
              {% endfor %}

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-info btn-fill pull-right">Add Employee</button>
                  <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
