{% extends 'management_system/emp-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock %}
{% block pwd_active %}active{% endblock %}
{% block sidebar %}
{% if employee.has_admin_acc %}
<li>
  <a href="{% url 'management_system:admin-detail' %}">
    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>&nbsp;
    Switch to Admin
  </a>
</li>
{% endif %}
{% endblock %}
{% block body %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="header">
                  <h4 class="title">Change Password</h4>
                  <h4><span class="text-danger small">{{ error_message }}</span></h4>
                </div>
                 <div class="content">
                    <form  action="" method='post' enctype="multipart/form-data">
                      {% csrf_token %}
                      {% for field in form %}
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                          {% if field.label_tag == form.r_new_password.label_tag %}
                            <label>Reenter New Password</label>
                          {% else %}
                            <label>Enter {{ field.label_tag }}</label>
                          {% endif %}
                            {{ field|add_class:'form-control' }}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <button type="submit" class="btn btn-info btn-fill pull-right">Update Password</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
